// 1 - 3 levels of colors
// 1: the lightest color, 3: the darkest color

$white--1: #ffffff;
$white--2: #f7f7f7;

$black--1: #202020; // sidebar
$black--2: #2f2f31;

$grey--1: rgba(255, 255, 255, 0.5);
$grey--2: #8c92a2;

$blue--1: #596784;
$blue--2: #425381;

$jade: #88d8b0;

$tp--grey: rgba(255, 255, 255, 0.5);
$tp--jade: rgba(136, 216, 176, .65);